<div *ngIf="showHelp" class="alert alert-white alert-dismissible animated fadeIn box-shadow border-success" role="alert">
    <small class="badge badge-sm badge-success">Help Message!</small>
    <button class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp">
        <i class="fa fa-close"></i>
    </button>
    <br/>The radio button is used to retrieve one piece of data from several choices.
    <br/>
    <br/> For Example:
    <div class="form-group ml-2">
        <strong>Gender</strong>
        <div class="form-check">
            <input type="radio" class="form-check-input" disabled id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Male</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" disabled id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Female</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" disabled checked id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Other</label>
        </div>
    </div>
</div>
<button *ngIf="!showHelp" class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp">
    <i class="fa fa-question"></i>
</button>
<br/>
<form [formGroup]="form">
    <div class="form-group">
        <div class="form-group">
            <label for="input">Radio Label</label>
            <input type="text" formControlName="label" id="label" class="form-control" name="label" placeholder="Enter label" required>
            <small class="text-danger" *ngIf="!form.value.label">Label is required.</small>
        </div>
        <div class="form-group">
            <label for="input">Radio Options</label>
            <input type="text" class="form-control" [required]="radioButtonOptions.length < 1" [(ngModel)]="option" formControlName="option"
                id="option" name="option" placeholder="Radio Option..">
            <small class="text-danger" *ngIf="!form.value.option && radioButtonOptions.length < 1">Option is required.</small>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <button type="button" (click)="addOption(form.value.option)" [disabled]="!form.value.option" class="btn btn-outline-success btn-block">Add Option</button>
        </div>
        <div class="col-sm-6">
            <button (click)="newField()" [disabled]="!form.valid" class="btn btn-outline-success btn-block">Add Field</button>
        </div>
    </div>

    <div class="mt-4">
        <small *ngIf="form.value.label" class="badge badge-sm badge-dark">Radio Preview</small>
        <ul class="list-group">
            <label>{{form.value.label}}</label>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0" *ngFor="let item of radioButtonOptions; let i = index; trackBy:trackByFn">
                <div class="form-check" *ngIf="!editOn[i]">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input"> {{item}}
                    </label>
                </div>
                <div *ngIf="editOn[i]" class="col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="radioButtonOptions[i]" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <button *ngIf="!editOn[i]" class="btn btn-outline-dark mr-1" (click)="editOption(i, item)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button *ngIf="editOn[i]" class="btn btn-outline-dark mr-1" (click)="updateOption(i)">
                        <i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-outline-dark" (click)="deleteOption(i)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</form>