<div class="pl-5 pr-5 pt-4 pb-4">
    <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="display-5 mb-1">Edit Employee</h4>
        <p class="text-muted">Use the form below to edit your employee!</p>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-info font-weight-bold btn-sm float-right" routerLink="/manage-users">Manage Employees</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card sticky-top">
          <div class="card-header font-weight-bold">
            Edit Employee
          </div>
          <div class="card-body bg-white text-dark">
            <!-- <div *ngIf="messageFromServer" class="alert alert-success text-center animated fadeIn">
              {{message}}
            </div> -->
            <form #editEmployeeForm="ngForm">
              <div class="form-group">
                <label for="firstNameInput">First Name</label>
                <input required type="text" class="form-control" id="firstNameInput" [(ngModel)]="thisUser.firstName" name="firstName" placeholder="Enter employee's first name">
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="surnameInput">Surname</label>
                <input required type="text" class="form-control" id="surnameInput" [(ngModel)]="thisUser.surname" name="surname" placeholder="Enter employee's surname">
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="emailInput">Email</label>
                <input required type="text" class="form-control" id="emailInput" [(ngModel)]="thisUser.email" name="email" placeholder="Enter employee's email">
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="emailInput">Privilege Level</label>
                <div class="custom-controls-stacked">
                  <label class="custom-control custom-radio">
                    <input required id="radioStacked1" name="radio-stacked" name='administrator' value='Administrator' [(ngModel)]='thisUser.privileges'
                      type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Administrator</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input required id="radioStacked2" name="radio-stacked" name='orindary' value='Ordinary' [(ngModel)]='thisUser.privileges' type="radio"
                      class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Ordinary</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="usernameInput">Username</label>
                <input required disabled type="text" class="form-control" id="usernameInput" [(ngModel)]="thisUser.username" name="username" placeholder="Enter employee's username">
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="passwordInput">Password</label>
                <input required type="text" class="form-control" id="passwordInput" [(ngModel)]="thisUser.password" name="password" placeholder="Enter employee's password">
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>

              <button class="btn btn-primary pull-right btn-block btn-sm" [disabled]="editEmployeeForm.form.invalid" (click)="editUser(); alertShow = !alertShow">Edit</button>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card sticky-top">
          <div class="card-header bg-dark text-white font-weight-bold">
            Employee Preview
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">First Name</p>
                  <p class="text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.firstName == undefined || thisUser.firstName == ''">undefined</span>{{ thisUser.firstName }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Surname</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.surname == undefined || thisUser.surname == ''">undefined</span>{{ thisUser.surname }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Email</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.email == undefined || thisUser.email == ''">undefined</span>{{ thisUser.email }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Privilege Level</p>

                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.privileges == undefined || thisUser.privileges == ''">undefined</span>
                    <span [ngClass]="thisUser.privileges == 'Administrator'? 'badge-danger' : 'badge-primary'" class="badge badge-primary">{{ thisUser.privileges}}</span>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Username</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.username == undefined || thisUser.username == ''">undefined</span>{{ thisUser.username }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Password</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.password == undefined || thisUser.password == ''">undefined</span>{{ thisUser.password }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Company ID</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.companyId == undefined || thisUser.companyId == ''">undefined</span>{{ thisUser.companyId }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Date Created</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.dateCreated == undefined || thisUser.dateCreated == ''">undefined</span>{{ thisUser.dateCreated | date: 'dd/MM/yyyy @ HH:mm'}}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Last Updated</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.dateUpdated == undefined || thisUser.dateUpdated == ''">undefined</span>{{ thisUser.dateUpdated | date: 'dd/MM/yyyy @ HH:mm'}}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Created By</p>
                  <p class="text-muted col-sm-6">
                    <span class="text-danger" *ngIf="thisUser.createdBy == undefined || thisUser.createdBy == ''">undefined</span>{{ thisUser.createdBy }}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>