<div class="btn-group-vertical btn-group-sm sticky-button float-right animated fadeInLeft">
  <button class="btn btn-info btn-md mb-1" routerLink="/create-form">
    <i class="fa fa-plus"></i>
  </button>
</div>

<div class="pl-5 pr-5 pt-4 pb-4">
  <div class="animated fadeIn">
    <div class="row mb-2">
      <div class="col-sm-4">
        <h4 class="display-5 mb-1">All Forms</h4>
        <p class="text-muted">You can directly manage your forms from this page</p>
      </div>
      <div class="col-sm-8">
        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-info font-weight-bold" routerLink="/create-form">Create Form</button>
          <!-- <button type="button" class="btn btn-secondary" (click)="toggleSelectMode()">
            <i class="fa fa-check-square-o"></i> Select</button> -->
        </div>
      </div>
    </div>
    <div *ngIf="zeroForms">
      <div class="text-center animated fadeIn" id="btn">
        <div class="col-md-12">
          <p class="lead">There are currently no forms registered on your system, click the
            <span class="badge badge-info">Add Form</span> button above to add your first form.</p>
        </div>
      </div>
    </div>

    <div *ngIf="!zeroForms" class="list-group">
      <li class="list-group-item flex-column align-items-start li-highlight mb-1" *ngFor="let form of forms; let i = index"
        (click)="selectItem(i)" [ngClass]="[selectMode == true ? 'li-selectOn' : 'li-selectOff',
                      selected[i] == true && selectMode == true ? 'li-selected' : 'li-selectOn']">
        <!-- <span [ngClass]="employee.privileges == 'Administrator'? 'badge-danger' : 'badge-primary'" class="badge badge-primary">{{ employee.privileges}}</span> -->
        <div class="d-flex w-100 justify-content-between">

          <h5 class="mb-1">{{form.label}} ~ {{form._id}}
          </h5>
          <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
              <!-- <button type="button" class="btn btn-outline-dark mr-1" (mouseenter)="expandToolTips(i, 3)" (mouseleave)="collapseTooltips()"
              [innerHtml]="formToolbarConent[i][3]" [disabled]="selectMode"></button>
            <button type="button" class="btn btn-secondary mr-1" (mouseenter)="expandToolTips(i, 0)" (mouseleave)="collapseTooltips()"
              [innerHtml]="formToolbarConent[i][0]" (click)="detailShow = !detailShow" [disabled]="selectMode"></button>
            <button type="button" class="btn btn-info mr-1" (mouseenter)="expandToolTips(i, 1)" (mouseleave)="collapseTooltips()"
              [innerHtml]="formToolbarConent[i][1]" [routerLink]="['/edit-form', form._id]" [disabled]="selectMode"></button> -->
            <button type="button" class="btn btn-danger" (mouseenter)="expandToolTips(i, 2)" (mouseleave)="collapseTooltips()"
              [innerHtml]="formToolbarConent[i][2]" (click)="deleteForm(form)" [disabled]="selectMode"></button>
              
          </div>
        </div>
        <div>
          <small class="text-muted">Created:
            <span class="text-dark">{{form.dateCreated | date: 'MMMM y'}}</span>
          </small>
        </div>
      </li>
    </div>
  </div>

</div>