.row-center {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    }

    cards{
        border-width:  5px !important;
        border-color: grey;
        box-shadow: 4px 4px grey;
        
    }
    .bigger-border{
        border-width: 5px !important;
    }

    .navbar-shadow{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .li-highlight:hover{
        background-color:#eaeff7;
    }

    .navbar-custom{
        height:40px;
    }

    .button-card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        width: fixed !important;
      }
      
      .button-card:hover {
        box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform:scale(1.1,1.1);
        
      }
    
      .gradientBg{
        background: #1e3c72;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      
      }

      .gradientButton-success{
        background: #56ab2f;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
      }

      .gradientButton-orange{
        background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
      }

      .gradientButton-danger{
        background: #e52d27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
      }

      


      .box-shadow{
        background: #fff;
        color: #666;
        box-shadow: 0 5px 15px rgba(0,0,0,.08);
      }