<div class="pl-5 pr-5 pt-4 pb-4">
    <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="display-5 mb-1">Add Employee</h4>
        <p class="text-muted">Use the form below to add your new employee!</p>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-info font-weight-bold btn-sm float-right" routerLink="/manage-users">Manage Employees</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card sticky-top">
          <div class="card-header font-weight-bold">
            New Employee Form
          </div>
          <div class="card-body">
            <div *ngIf="messageFromServer" class="alert alert-white border-secondary text-center animated fadeIn mx-auto box-shadow">
              <span class="font-weight-bold">{{message}}</span><br/><br/>
              <div *ngIf="success">
                <button class="btn btn-sm btn-outline-info" routerLink="/manage-users">Manage Employees</button> <button class="btn btn-sm btn-outline-danger" (click)="continueAdding()">Continue Adding</button>
              </div>
              <div *ngIf="!success">
                  <button class="btn btn-sm btn-outline-info" routerLink="/manage-users">Manage Employees</button> <button class="btn btn-sm btn-outline-danger" (click)="editEmployee()">Edit Employee</button>
              </div>
            </div>
            <form #addEmployeeForm="ngForm">
              <div class="form-group">
                <label for="firstNameInput">First Name</label>
                <input type="text" class="form-control" id="firstNameInput" [disabled]="messageFromServer" [(ngModel)]="newUser.firstName" name="firstName" placeholder="Enter employee's first name" required>
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="surnameInput">Surname</label>
                <input type="text" class="form-control" id="surnameInput" [disabled]="messageFromServer" [(ngModel)]="newUser.surname" name="surname" placeholder="Enter employee's surname" required>
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="text" class="form-control" id="emailInput" [disabled]="messageFromServer" [(ngModel)]="newUser.email" name="email" placeholder="Enter employee's email" required>
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="emailInput">Privilege Level</label>
                <div class="custom-controls-stacked">
                  <label class="custom-control custom-radio">
                    <input id="radioStacked1" name="radio-stacked" name='administrator' value='Administrator' [disabled]="messageFromServer" [(ngModel)]='newUser.privileges' type="radio" class="custom-control-input" required>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Administrator</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="radioStacked2" name="radio-stacked" name='orindary' value='Ordinary' [disabled]="messageFromServer" [(ngModel)]='newUser.privileges' type="radio" class="custom-control-input" required>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Ordinary</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" class="form-control" id="usernameInput" [disabled]="messageFromServer" [(ngModel)]="newUser.username" name="username" placeholder="Enter employee's username" required>
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>
              <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="text" class="form-control" id="passwordInput" [disabled]="messageFromServer" [(ngModel)]="newUser.password" name="password" placeholder="Enter employee's password" required>
                <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
              </div>

              <button type="submit" class="btn btn-success pull-right btn-block btn-sm" [disabled]="messageFromServer || addEmployeeForm.form.invalid" (click)="addUser(); alertShow = !alertShow">Add</button>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card sticky-top">
          <div class="card-header bg-dark text-white font-weight-bold">
            Employee Preview
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">First Name</p>
                  <p class="text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.firstName == undefined || newUser.firstName == ''">undefined</span>{{ newUser.firstName }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Surname</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.surname == undefined || newUser.surname == ''">undefined</span>{{ newUser.surname }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold  col-sm-6">Email</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.email == undefined || newUser.email == ''">undefined</span>{{ newUser.email }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Privilege Level</p>
                  
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.privileges == undefined || newUser.privileges == ''">undefined</span>
                    <span [ngClass]="newUser.privileges == 'Administrator'? 'badge-danger' : 'badge-primary'" class="badge badge-primary">{{ newUser.privileges}}</span></p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold  col-sm-6">Username</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.username == undefined || newUser.username == ''">undefined</span>{{ newUser.username }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Password</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.password == undefined || newUser.password == ''">undefined</span>{{ newUser.password }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Company ID</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.companyId == undefined || newUser.companyId == ''">undefined</span>{{ newUser.companyId }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Date Created</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.dateCreated == undefined || newUser.dateCreated == ''">undefined</span>{{ newUser.dateCreated | date: 'dd/MM/yyyy @ HH:mm'}}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Last Updated</p>
                  <p class="  text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.dateUpdated == undefined || newUser.dateUpdated == ''">undefined</span>{{ newUser.dateUpdated | date: 'dd/MM/yyyy @ HH:mm'}}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Created By</p>
                  <p class="text-muted col-sm-6">
                    <span class="text-danger font-weight-bold" *ngIf="newUser.createdBy == undefined || newUser.createdBy == ''">undefined</span>{{ newUser.createdBy }}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>