.side-nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .box-shadow{
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
  }
  
  #side-nav{
    background: #1e3c72;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
          width: 20%;
  }

  body{
    font-family: 'Open Sans', sans-serif;
}
i{
    width: 20%;
    margin-top: 5%;
}
#nav-button{
    width: 100%;     
    color: white;
    background-color: #3c73c0;
    display: block;
    margin-bottom: -1.5%;
    align-content: center;
}

.gradientBg{
    background: #1e3c72;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  }
