<!-- <mat-sidenav-container class="side-nav-container">
  <mat-sidenav id = "side-nav" mode="side" opened="true">  

    <mat-list *ngFor="let item of navMenu; let i = index">
      <p class="h5">{{item.title}}</p>

      <mat-list *ngIf="item.menuItems">
          <mat-list *ngFor="let sub of item.menuItems">

            
              <button mat-raised-button id = "nav-button" (click)="navigatePage(sub.id)">                
                 <i class = "{{sub.icon}} pull-left"></i> 
                <span>{{sub.title}}</span>
              </button>
          </mat-list>            
        </mat-list>
      </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container> -->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark box-shadow">
  <a class="navbar-brand" routerLink="/manage-users">Sareform Admin Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item dropdown"  *ngFor="let item of navMenu; let i = index">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{item.title}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button *ngFor="let sub of item.menuItems" class="dropdown-item" (click)="navigatePage(sub.id)">{{sub.title}}</button>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
