<!-- As mentioned in index.html, the app-root's components HTML is this file 
    When the index.html calls <app-root> selector it inserts the code here into the index.html -->

<!-- Here we're calling the app-navbar selector to display the navbar only if the boolean showHeader is true on the .ts file -->
<app-navbar *ngIf="showHeader"></app-navbar>

<!-- In Angular , router-outlet will display the component that is associated with routes, you'll find this in the app-routing.module.ts -->
<router-outlet></router-outlet>