<div class="btn-group-vertical btn-group-sm sticky-button float-right animated fadeInLeft">
    <button class="btn btn-info btn-md mb-1" routerLink="/add-user">
      <i class="fa fa-plus"></i>
    </button>
    <button class="btn btn-secondary btn-md mb-1" (click)="toggleSelectMode()">
        <i class="fa fa-check-square-o"></i>
      </button>
    <button class="btn btn-danger btn-md" [disabled]="!selectMode || selectedCount <= 0" (click)="deleteUsers()">
        <i class="fa fa-trash-o"></i>
      </button>
    <button class="btn btn-primary btn-md" disabled *ngIf="selectMode && selectedCount != 0">
      {{selectedCount}}
    </button>
    <button class="btn btn-outline-dark btn-md mb-1" *ngIf="selectMode && selectedCount != 0" (click)="resetSelect()">
        <i class="fa fa-refresh"></i>
      </button>
  </div>

<div class="pl-5 pr-5 pt-4 pb-4" [ngClass]="[showDetails == true ? 'main' : 'animated fadeIn', showDetails == true ? 'animated fadeIn': 'animated fadeIn']">
    <div class="row mb-2">
      <div class="col-sm-4">
        <h4 class="display-5 mb-1">All Employees</h4>
        <p class="text-muted">You can directly manage your users from this page</p>
      </div>
      <div class="col-sm-8">
        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-info font-weight-bold" routerLink="/add-user">Add Employee</button>
          <button type="button" class="btn btn-secondary" (click)="toggleSelectMode()">
            <i class="fa fa-check-square-o"></i> Select</button>
        </div>
      </div>
    </div>
    <div *ngIf="zeroEmployees">
      <div class="text-center animated fadeIn" id="btn">
        <div class="col-md-12">
          <p class="lead">There are currently no employees registered on your system, click the
            <span class="badge badge-info">Add Employee</span> button above to add your first employee.</p>
        </div>
      </div>
    </div>
    <div *ngIf="!zeroEmployees" class="list-group">
      <!-- <input type="text" class="form-control form-control-sm mb-2" id="firstNameInput" name="firstName" placeholder="Search users"> -->
      <li class="list-group-item flex-column align-items-start li-highlight mb-1" *ngFor="let employee of employees; let i = index"
        (click)="selectItem(i)" [ngClass]="[selectMode == true ? 'li-selectOn' : 'li-selectOff',
                      selected[i] == true && selectMode == true ? 'li-selected' : 'li-selectOn']">
        <span [ngClass]="employee.privileges == 'Administrator'? 'badge-danger' : 'badge-primary'" class="badge badge-primary"><i class="fa fa-user"></i>  {{ employee.privileges}}</span>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{employee.firstName}} {{employee.surname}} ~ {{employee._id}}
          </h5>
          <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary mr-1" (mouseenter)="expandToolTips(i, 0)" (mouseleave)="collapseTooltips()"
              [innerHtml]="employeeToolbarConent[i][0]" (click)="openDetails(employee)" [disabled]="selectMode"></button>
            <button type="button" class="btn btn-info mr-1" (mouseenter)="expandToolTips(i, 1)" (mouseleave)="collapseTooltips()"
              [innerHtml]="employeeToolbarConent[i][1]" [routerLink]="['/edit-user', employee._id]" [disabled]="selectMode"></button>
            <button type="button" class="btn btn-danger" (mouseenter)="expandToolTips(i, 2)" (mouseleave)="collapseTooltips()"
              [innerHtml]="employeeToolbarConent[i][2]" (click)="deleteUser(employee)" [disabled]="selectMode"></button>
          </div>
        </div>
        <div>
          <!-- <p class="mb-1">
            <span *ngIf="!employee.formsSubmitted">No forms submitted</span>
          </p> -->
          <small class="text-muted">Created:
            <span class="text-dark">{{employee.dateCreated | date: 'MMMM y'}}</span>
          </small>
        </div>
      </li>
    </div>

</div>
      <div *ngIf="showDetails" [ngClass]="showDetails == true ? 'sidenav' : ''" class="card sticky-top bg-dark text-white animated fadeInDown">
        <div class="card-header font-weight-bold">
          {{employeeDetails.firstName}} {{employeeDetails.surname}}
          <button type="button" class="close text-white" (click)="closeDetails()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">First Name</p>
                <p class="text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.firstName == undefined || employeeDetails.firstName == ''">undefined</span>{{ employeeDetails.firstName }}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Surname</p>
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.surname == undefined || employeeDetails.surname == ''">undefined</span>{{ employeeDetails.surname }}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Email</p>
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.email == undefined || employeeDetails.email == ''">undefined</span>{{ employeeDetails.email }}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Privilege Level</p>
  
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.privileges == undefined || employeeDetails.privileges == ''">undefined</span>
                  <span [ngClass]="employeeDetails.privileges == 'Administrator'? 'badge-danger' : 'badge-primary'" class="badge badge-primary">{{ employeeDetails.privileges}}</span>
                </p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Username</p>
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.username == undefined || employeeDetails.username == ''">undefined</span>{{ employeeDetails.username }}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Password</p>
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.password == undefined || employeeDetails.password == ''">undefined</span>{{ employeeDetails.password }}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Company ID</p>
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.companyId == undefined || employeeDetails.companyId == ''">undefined</span>{{ employeeDetails.companyId }}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Date Created</p>
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.dateCreated == undefined || employeeDetails.dateCreated == ''">undefined</span>{{ employeeDetails.dateCreated | date: 'dd/MM/yyyy @ HH:mm'}}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Last Updated</p>
                <p class="  text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.dateUpdated == undefined || employeeDetails.dateUpdated == ''">undefined</span>{{ employeeDetails.dateUpdated | date: 'dd/MM/yyyy @ HH:mm'}}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <p for="exampleInputEmail1" class="font-weight-bold col-sm-6">Created By</p>
                <p class="text-muted col-sm-6">
                  <span class="text-danger" *ngIf="employeeDetails.createdBy == undefined || employeeDetails.createdBy == ''">undefined</span>{{ employeeDetails.createdBy }}</p>
              </div>
            </div>
            <button class="btn btn-secondary btn-block btn-sm" [routerLink]="['/edit-user', employeeDetails._id]">Edit Details</button>
          </form>
        </div>
      </div>

