<div *ngIf="showHelp" class="alert alert-white alert-dismissible animated fadeIn box-shadow border-success" role="alert">
        <small class="badge badge-sm badge-success">Help Message!</small>
    <button class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp">
        <i class="fa fa-close"></i>
    </button>
    <br/>The datepicker input is used to retrieve a date.
    <br/>
    <br/> For Example:
    <div class="form-group">
        <strong>Order Date</strong>
        <input class="form-control" type="date" value="2017-08-19" disabled>
    </div>
</div>
<button *ngIf="!showHelp" class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp">
    <i class="fa fa-question"></i>
</button>
<br/>

<form [formGroup]="form">
    <div class="form-group">
        <label for="inputType">Datepicker Label</label>
        <input type="text" formControlName="label" id="label" class="form-control" name="label" placeholder="Enter the label">
        <small class="text-danger" *ngIf="!form.value.label">Label is required.</small>
    </div>
    <button (click)="newField()" [disabled]="!form.valid" class="btn btn-outline-success btn-block">Add Field</button>
    <div *ngIf="form.valid" class="mt-4 animated fadeIn">
        <small *ngIf="form.value.label" class="badge badge-sm badge-dark">Input Preview</small>
        <div class="form-group">
            <label>{{form.value.label}}</label>
            <input class="form-control" type="date" id="example-date-input">
        </div>
    </div>
</form>