<div *ngIf="!gettingStarted">
  <div class="row text-center animated fadeIn" id="btn">
    <div class="col-md-12 row-center">
      <button class="btn btn-outline-dark bigger-border box-shadow btn-lg" (click)="gettingStarted = !gettingStarted">
        <i class="fa fa-plus-square-o fa-5x"></i>
      </button>

      <h1 class="display-2">Add New Form</h1>
      <p class="lead">Click the
        <i class="fa fa-plus-square-o"></i> button above to start creating your form</p>
    </div>
  </div>
</div>

<div *ngIf="gettingStarted" class="animated fadeInDown">
  <form (ngSubmit)="renderForm()" [formGroup]="renderedForm">
    <div class="card m-3 box-shadow">
      <div class="card-header bg-secondary">
      </div>


      <div class="card-body">
        <div class="form-group">
          <input type="text" [(ngModel)]="label" formControlName="label" id="label" class="form-control" name="label" placeholder="Form Label"
            required>
          <small class="text-danger" *ngIf="!label">Please enter a form label.</small>
        </div>

        <div class="row pull-right btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-outline-dark" *ngFor="let item of buttonToolbar; let i = index" (click)="changeView(item.pos)">
            <i class="{{item.icon}}" aria-hidden="true"></i>
          </button>
        </div>
        <br/>
        <br/>
        <div class="pl-4 pr-4">
          <div class="row">
            <div class="col-sm-6" style="border-right: 2px dotted grey">
              <app-input-box *ngIf="enable[0]" (inputObject)="fieldInputType($event)"></app-input-box>
              <app-text-area *ngIf="enable[1]" (inputObject)="fieldInputType($event)"></app-text-area>
              <app-date-picker *ngIf="enable[2]" (inputObject)="fieldInputType($event)"></app-date-picker>
              <app-check-box *ngIf="enable[3]" (inputObject)="fieldInputType($event)"></app-check-box>
              <app-radio-button *ngIf="enable[4]" (inputObject)="fieldInputType($event)"></app-radio-button>
              <app-dropdown-box *ngIf="enable[5]" (inputObject)="fieldInputType($event)"></app-dropdown-box>
              <br/>

              <div *ngIf="!clickedField">
                <h5>Select the type of input.</h5>

                <div class="row">
                  <div class="col-lg-4 text-center" *ngFor="let item of buttons; let i = index">
                    <div class="card button-card" [tabindex]="i">
                      <div class="card-body" (click)="changeView(item.pos)">
                        <i class="{{item.icon}}"></i>
                        <br/> {{item.name}}
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-sm-6 justify-content-center">
              <div class="row text-center animated fadeIn" id="btn" *ngIf="!label && inputFields.length < 1">
                <div class="col-md-12 row-center">
                  <button class="btn btn-outline-dark btn-lg border-0" disabled>
                    <i class="fa fa-file fa-5x"></i>
                  </button>
                </div>
              </div>
              <small *ngIf="label" class="badge badge-dark pull-right animated fadeIn">Form Preview</small>
              <h5>
                <i *ngIf="label" class="fa fa-file"></i> {{label}}</h5>
              <hr *ngIf="label" />
              <form>
                <div *ngFor="let item of inputFields; let i = index;" class="form-group ml-2">
                  <span *ngIf="item.inputType == 'input box'">
                    <label for="{{item.i}}">{{item.label}}</label>
                    <input class="form-control" id="{{item.i}}" placeholder="{{item.placeholder}}">
                  </span>

                  <span *ngIf="item.inputType == 'text area'">
                    <label for="{{item.i}}">{{item.label}}</label>
                    <textarea class="form-control" id="{{item.i}}" rows="2" placeholder="{{item.placeholder}}"></textarea>
                  </span>

                  <span *ngIf="item.inputType == 'date picker'">
                    <label for="{{item.i}}">{{item.label}}</label>
                    <input class="form-control" type="date" value="2018-05-05" id="{{item.i}}">
                  </span>

                  <span *ngIf="item.inputType == 'check box'">
                    <label>{{item.label}}</label>
                    <div class="form-check" *ngFor="let item of item.fieldInput; let i = index;">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value=""> {{item}}
                      </label>
                    </div>
                  </span>

                  <span *ngIf="item.inputType == 'radio button'">
                    <label for="{{item.i}}">{{item.label}}</label>
                    <div class="form-check" *ngFor="let item of item.fieldInput; let i = index;">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" value=""> {{item}}
                        </label>
                      </div>
                  </span>

                  <span *ngIf="item.inputType == 'dropdown box'">
                    <label class="mr-sm-2" for="{{item.i}}">{{item.label}}</label>

                    <select class="custom-select mr-sm-2" id="{{item.i}}">
                      <option *ngFor="let item of item.fieldInput; let i = index;" value="{{item.i}}">{{item}}</option>
                    </select>
                  </span>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>

      <div class="card-footer text-muted">
        <button class="btn btn-success btn-sm pull-right" [disabled]="!renderedForm.valid" type="submit">Render</button>
      </div>
    </div>

  </form>
</div>