
  .row-center {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    }
    

    cards{
        border-width:  5px !important;
        border-color: grey;
        box-shadow: 4px 4px grey;
        
    }
    .bigger-border{
        border-width: 5px !important;
    }

    .button-card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        width: fixed !important;
      }
      
      .button-card:hover {
        box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform:scale(1.1,1.1);
        
      }

      .highlighted-danger{
        border: 2px solid red !important;
      }
      .highlighted-danger :focus{
        border: 1px transparent !important;
      }

      .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
      }
      
      .ng-invalid:not(form)  {
        border-left: 5px solid #a94442; /* red */
      }