/* #sareform-logo{
    width: 20%;
    margin: 0 auto;
    background-color:#6B94B3;
    display: block;
    padding: 0%;
    
}

.home-page{
    background-color: #6B94B3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}    
.login-card {
  width: 20%;
  height: 30%;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #4D89B3;  

}

input{
  border-radius: 10px;  
  height: 25px;
  width: 100%;
  margin-right: 20%;
  text-indent: 10px;
  
}

#login-button{
  width: 100%;
  height: 40px;
  background-color: #64A2CE;
  border-radius: 10px;
  border: 2px solid #637B8C;
  color: white;
  
} */

.gradientBg{
  background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.customBg{
  background: repeating-linear-gradient(
  45deg,
  #f1f1f1,
  #f1f1f1 10px,
  #ffffff 10px,
  #ffffff 20px
);
}

.box-shadow{
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.content-centered {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/* .rndbtn { 
  width: 100%; 
  background-color: white; 
  border: 1px solid white; 
  color: #666;
   text-align: center; 
   font-size: 18px; 
   -webkit-border-radius: 0; 
   -moz-border-radius: 0; 
   border-radius: 0; 
   padding: 10px;}
   
   .rndbtn:hover { border-bottom-color: #666;}

   .rndbtn:focus { background:#553666;} */