<div class="content-centered">

  <div class="card box-shadow">
    <div class="card-header bg-dark">

    </div>
    <div class="card-body p-5 customBg">
      <div class="text-center">
        <h1 class="display-4">Sareform</h1>
        <p *ngIf="!messageFromServer" class="text-secondary">Access is restricted, please login.</p>
        <p *ngIf="messageFromServer"class="text-danger">{{message}}</p>
      </div>
      <form style="width:350px" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input required type="text" class="form-control" id="username" name="username" [(ngModel)]="loginCreds.username" placeholder="Username">
          <!-- <p class="text-danger" *ngIf="errorMessage[0]">Error message goes here.</p> -->
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required type="password" class="form-control" name="password" id="password" [(ngModel)]="loginCreds.password" placeholder="********">
          <!-- <p class="text-danger" *ngIf="errorMessage[1]">Error message goes here.</p> -->
        </div>
        <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-dark btn-block" (click)="login()">Login</button>

      </form>
    </div>
  </div>



</div>