<div *ngIf="showHelp" class="alert alert-white alert-dismissible animated fadeIn box-shadow border-success" role="alert">
        <small class="badge badge-sm badge-success">Help Message!</small>
	<button class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp"><i class="fa fa-close"></i></button>
	<br/>The input field is the most common method of retrieving single pieces of any data information.
    <br/><br/>
    For Example:
    <div class="form-group">
        <strong>First Name</strong>
        <input type="text" class="form-control" value="John Doe" disabled>
    </div>
</div>
<button *ngIf="!showHelp" class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp"><i class="fa fa-question"></i></button>
<br/>
<form [formGroup]="form">
	<div class="form-group">
		<label for="inputType">Input Label</label>
		<input type="text" formControlName="label" id="label" class="form-control" name="label" placeholder="Enter the label">
		<small class="text-danger" *ngIf="!form.value.label">Label is required.</small>
	</div>
	<div class="form-group">
		<label>Input Type</label>
		<select class="form-control form-control-sm" name="type" formControlName="type">
			<option value="text" selected>Text</option>
			<option value="number">Number</option>
		</select>
		<small class="text-danger" *ngIf="!form.value.type">Input type is required. (Text allows both numbers and letters.)</small>
	</div>
	<div class="form-group">
		<label>Input Placeholder</label>
		<input type="text" class="form-control" formControlName="placeholder" name="placeholder" placeholder="Enter the placeholder (optional).">
		<small class="text-secondary" *ngIf="!form.value.placeholder">Placeholder is optional.</small>
	</div>
	<button (click)="newField(form.value.label, form.value.placeholder)" [disabled]="!form.valid" class="btn btn-outline-success btn-block">Add Field</button>
	<div *ngIf="form.valid" class="mt-4 animated fadeIn">
		<small *ngIf="form.value.label" class="badge badge-sm badge-dark">Input Preview</small>
		<div class="form-group">
			<label>{{form.value.label}}</label>
			<input [type]="form.value.type" class="form-control" [placeholder]="form.value.placeholder">
		</div>
	</div>
</form>