<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sareform Admin Center</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>

<!-- *Note for Cathal* 
     
     You are probably used to having index.html serve your main page, Angular does the same thing.
     But because angular has it's own method of routing and components etc. Instead of putting any content into the index,
     you simply use the "selector" name of the ROOT of the angular application (app.component.ts, you will see the selector
     name in the @component). The app root is like the Index.html of angular. The rest of the code in this file should be 
     quite similar to what you are used to.

     You may want to look into how the bindings work in Angular [(ngModel)] etc. it is used throughout the HTML and to change
     the stylings you would need to rework the HTML/CSS but the Typescript logic is all there!
-->
<body>
  <app-root></app-root>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

</html>