<div *ngIf="showHelp" class="alert alert-white alert-dismissible animated fadeIn box-shadow border-success" role="alert">
    <small class="badge badge-sm badge-success">Help Message!</small>
    <button class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp"><i class="fa fa-close"></i></button>
    <br/>The text area is great for getting the information that is longer than one word/sentence.
    <br/><br/>
    For Example:
    <div class="form-group">
        <strong>Comments:</strong>
        <textarea type="textarea" class="form-control" disabled>
The food was good but the service was very poor.
I had to wait 15 minutes to be serves and another 30 for my food to be cooked. 
I will not be coming back.</textarea>
    </div>
</div>

<button *ngIf="!showHelp" class="btn btn-sm btn-outline-secondary pull-right" (click)="showHelp = !showHelp"><i class="fa fa-question"></i></button>
<br/>
<form [formGroup]="form">
  <div class="form-group">
    <label>Textarea Label</label>
    <input type="text"  formControlName="label" id="label" class="form-control" name="label" placeholder="Enter the label" required>
    <small class="text-danger" *ngIf="!form.value.label">Label is required.</small>
  </div>

  <div class="form-group">
      <label>Textarea Placeholder</label>
      <input type="text" class="form-control" formControlName="placeholder" name="placeholder" placeholder="Enter the placeholder (optional).">
      <small class="text-secondary" *ngIf="!form.value.placeholder">Placeholder is optional.</small>
  </div>

  
  <button (click)="newField()" [disabled]="!form.valid" class="btn btn-outline-success btn-block">Add Field</button>

  <div *ngIf="form.valid" class="mt-4 animated fadeIn">
      <small *ngIf="form.value.label" class="badge badge-sm badge-dark">Textarea Preview</small>
      <div class="form-group">
        <label>{{form.value.label}}</label>
        <textarea class="form-control" [placeholder]="form.value.placeholder"></textarea>
      </div>
    </div>
</form>
